In [5]:
import os

os.chdir("C:\\Learning\\Lets-Upgrade\\Day 8\\Assignment")

In [3]:
import pandas as pd

dataset1 = pd.read_excel('Attrition_general_data.xlsx',sheetname=0)

d = {'No': 0, 'Yes': 1}
dataset1['Attrition'] = dataset1['Attrition'].map(d).fillna(dataset1['Attrition'])
dataset1['Attrition'].round(0).astype(int)
dataset1

C:\Users\rajusuja.CORPDOM\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,1,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,0,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,0,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,0,Travel_Rarely,Research & Development,17,2,Medical,1,11,Male,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,0,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,Male,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,0,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,Female,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,47,1,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,28,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,Male,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,Male,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,0,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,Male,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,0,Non-Travel,Research & Development,1,3,Medical,1,18,Male,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,0,Travel_Rarely,Sales,7,4,Life Sciences,1,19,Male,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,Female,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,0,Travel_Frequently,Research & Development,1,4,Other,1,21,Male,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,0,Travel_Rarely,Sales,8,4,Life Sciences,1,22,Male,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,0,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,Female,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,0,Travel_Rarely,Research & Development,4,4,Life Sciences,1,24,Male,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,0,Travel_Frequently,Research & Development,16,4,Medical,1,25,Male,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,0,Travel_Rarely,Research & Development,1,4,Other,1,26,Female,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,0,Travel_Frequently,Research & Development,9,3,Life Sciences,1,27,Female,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,0,Travel_Rarely,Sales,5,1,Marketing,1,28,Male,...,1.0,Y,11,8,0,17.0,2,17,5,7
28,44,1,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
29,38,0,Travel_Rarely,Sales,2,3,Marketing,1,30,Female,...,9.0,Y,12,8,0,10.0,3,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,35,0,Travel_Frequently,Research & Development,19,3,Life Sciences,1,4381,Female,...,1.0,Y,13,8,0,10.0,6,10,0,8
4381,29,1,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,Female,...,1.0,Y,21,8,0,4.0,2,4,0,1
4382,52,0,Travel_Rarely,Research & Development,1,2,Medical,1,4383,Female,...,7.0,Y,14,8,0,6.0,5,2,2,2
4383,42,0,Travel_Rarely,Research & Development,7,4,Life Sciences,1,4384,Female,...,1.0,Y,11,8,2,22.0,2,22,11,15
4384,59,0,Travel_Rarely,Research & Development,4,4,Technical Degree,1,4385,Male,...,8.0,Y,11,8,0,7.0,3,2,2,2
4385,50,0,Travel_Rarely,Research & Development,11,2,Life Sciences,1,4386,Male,...,3.0,Y,23,8,1,32.0,2,7,0,6
4386,33,1,Travel_Rarely,Sales,11,4,Marketing,1,4387,Male,...,5.0,Y,21,8,0,8.0,2,5,0,4
4387,43,0,Travel_Rarely,Sales,1,3,Marketing,1,4388,Female,...,5.0,Y,24,8,0,22.0,3,17,1,9
4388,33,1,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,Male,...,7.0,Y,11,8,0,13.0,2,9,1,7
4389,52,0,Non-Travel,Research & Development,2,3,Technical Degree,1,4390,Male,...,1.0,Y,14,8,0,33.0,3,33,15,12
4390,32,0,Travel_Rarely,Human Resources,13,4,Life Sciences,1,4391,Female,...,2.0,Y,16,8,1,6.0,2,4,1,2
4391,32,1,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,Male,...,0.0,Y,11,8,0,4.0,2,3,1,2
4392,39,0,Travel_Rarely,Sales,26,4,Life Sciences,1,4393,Male,...,7.0,Y,12,8,1,7.0,2,3,1,2
4393,32,0,Non-Travel,Sales,2,4,Marketing,1,4394,Male,...,0.0,Y,13,8,1,4.0,3,3,2,2
4394,41,0,Travel_Rarely,Sales,29,3,Life Sciences,1,4395,Female,...,2.0,Y,15,8,0,17.0,3,1,0,0
4395,40,0,Travel_Rarely,Research & Development,2,3,Life Sciences,1,4396,Male,...,NaN,Y,14,8,1,9.0,4,9,4,7
4396,45,0,Travel_Rarely,Research & Development,18,1,Life Sciences,1,4397,Female,...,0.0,Y,14,8,0,25.0,4,24,1,7
4397,31,0,Travel_Frequently,Research & Development,7,4,Medical,1,4398,Male,...,9.0,Y,14,8,1,9.0,3,2,2,2
4398,33,0,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4399,Female,...,1.0,Y,12,8,1,2.0,2,2,0,2
4399,34,0,Travel_Rarely,Research & Development,26,3,Other,1,4400,Female,...,6.0,Y,13,8,0,13.0,3,11,5,9
4400,37,0,Travel_Rarely,Research & Development,22,5,Medical,1,4401,Female,...,2.0,Y,14,8,3,17.0,3,3,0,2
4401,45,0,Travel_Frequently,Sales,21,1,Marketing,1,4402,Male,...,4.0,Y,13,8,0,9.0,3,3,0,2
4402,37,1,Travel_Frequently,Sales,2,3,Marketing,1,4403,Male,...,6.0,Y,11,8,1,17.0,2,1,0,0
4403,39,0,Travel_Frequently,Research & Development,22,3,Medical,1,4404,Female,...,0.0,Y,19,8,1,20.0,2,19,11,8
4404,29,0,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [7]:
dataset1.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [11]:
'''Appling Man Witney test
H0 = There is no significant difference between Age for both Attrition_yes and Attrition_no
H1 = There is significant difference between Age for both Attrition_yes and Attrition_no

'''
import pandas as pd

dataset_yes= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_yes")
dataset_no= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_No")

from scipy.stats import mannwhitneyu

stats,p = mannwhitneyu(dataset_yes.Age, dataset_no.Age)

print(stats,p)

# Conclusion - Since p = 2.9951588479067175e-30 Probability value is < 0.05 which mean we can say that There is significant difference 
#between Age for both Attrition_yes and Attrition_no (Alternative Hypothesis is accepted)

C:\Users\rajusuja.CORPDOM\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

961731.0 2.9951588479067175e-30

## Inferance of the above test with Attrition_yes and No vs Age
<io>
    <li>H0 = There is no significant difference between Age for both Attrition_yes and Attrition_no</li>
    <li>H1 = There is significant difference between Age for both Attrition_yes and Attrition_no</li>
</io>

### Here if we see that the probability value is 2.9951e-30 which is lesser than 0.05
### Therefore we can conclude that Alternative hypothesis is accepted i,e There is significant difference between Age for both Attrition_yes and Attrition_no

In [6]:
'''Appling Man Witney test
H0 = There is no significant difference between distanceFromHome for both Attrition_yes and Attrition_no
H1 = There is significant difference between distanceFromHome for both Attrition_yes and Attrition_no

'''
import pandas as pd

dataset_yes= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_yes")
dataset_no= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_No")

from scipy.stats import mannwhitneyu

stats,p = mannwhitneyu(dataset_yes.DistanceFromHome, dataset_no.DistanceFromHome)

print(stats,p)

# Conclusion - Since p = 0.469 Probability value is > 0.05 which mean we can say that There is no significant difference between 
#DistanceFromHome for both Attrition_yes and Attrition_no (Null hypothesis is accepted)

C:\Users\rajusuja.CORPDOM\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

1312110.0 0.4629185205822659

### Inferance of the above test with Attrition_yes and No vs DistanceFromHome
<io>
    <li>H0 = There is no significant difference between DistanceFromHome for both Attrition_yes and Attrition_no</li>
    <li>H1 = There is significant difference between DistanceFromHome for both Attrition_yes and Attrition_no</li>
</io>

#### Here if we see that the probability value is 0.4629 which is greater than 0.05. 

### Therefore we can conclude that Null hypothesis is accepted i,e There is no significant difference between DistanceFromHome for both Attrition_yes and Attrition_no

In [7]:
'''Appling Man Witney test
H0 = There is no significant difference between PercentSalaryHike for both Attrition_yes and Attrition_no
H1 = There is significant difference between PercentSalaryHike for both Attrition_yes and Attrition_no

'''
import pandas as pd

dataset_yes= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_yes")
dataset_no= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_No")

from scipy.stats import mannwhitneyu

stats,p = mannwhitneyu(dataset_yes.PercentSalaryHike, dataset_no.PercentSalaryHike)

print(stats,p)

# Conclusion - Since p = 0.0186601 Probability value is < 0.05 which mean we can say that There is significant difference between 
#PercentageSalaryHike for both Attrition_yes and Attrition_no (Alternative Hypothesis is accepted)

C:\Users\rajusuja.CORPDOM\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

1250640.0 0.018660129917539733

### Inferance of the above test with Attrition_yes and No vs PercentSalaryHike
<io>
    <li>H0 = There is no significant difference between PercentSalaryHike for both Attrition_yes and Attrition_no</li>
    <li>H1 = There is significant difference between PercentSalaryHike for both Attrition_yes and Attrition_no</li>
</io>

#### Here if we see that the probability value is 0.018660129 which is lesser than 0.05. 

###  Therefore we can conclude that Alternative hypothesis is accepted i,e There is significant difference between PercentSalaryHike for both Attrition_yes and Attrition_no

In [8]:
'''Appling Man Witney test
H0 = There is no significant difference between YearsSinceLastPromotion for both Attrition_yes and Attrition_no
H1 = There is significant difference between YearsSinceLastPromotion for both Attrition_yes and Attrition_no

'''
import pandas as pd

dataset_yes= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_yes")
dataset_no= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_No")

from scipy.stats import mannwhitneyu

stats,p = mannwhitneyu(dataset_yes.YearsSinceLastPromotion, dataset_no.YearsSinceLastPromotion)

print(stats,p)

# Conclusion - Since p = 0.0002021 Probability value is < 0.05 which mean we can say that There is significant difference between 
#YearsSinceLastPromotion for both Attrition_yes and Attrition_no (Alternative Hypothesis is accepted)

C:\Users\rajusuja.CORPDOM\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

1209366.0 0.0002021180346719736

### Inferance of the above test with Attrition_yes and No vs YearsSinceLastPromotion
<io>
    <li>H0 = There is no significant difference between YearsSinceLastPromotion for both Attrition_yes and Attrition_no</li>
    <li>H1 = There is significant difference between YearsSinceLastPromotion for both Attrition_yes and Attrition_no</li>
</io>

#### Here if we see that the probability value is 0.0002021180346719736 which is lesser than 0.05. 

###  Therefore we can conclude that Alternative hypothesis is accepted i,e There is significant difference between YearsSinceLastPromotion for both Attrition_yes and Attrition_no

In [9]:
'''Appling Man Witney test
H0 = There is no significant difference between YearsWithCurrManager for both Attrition_yes and Attrition_no
H1 = There is significant difference between YearsWithCurrManager for both Attrition_yes and Attrition_no

'''
import pandas as pd

dataset_yes= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_yes")
dataset_no= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_No")

from scipy.stats import mannwhitneyu

stats,p = mannwhitneyu(dataset_yes.YearsWithCurrManager, dataset_no.YearsWithCurrManager)

print(stats,p)

# Conclusion - Since p = 1.2365483142169853e-31 Probability value is < 0.05 which mean we can say that There is significant difference 
#between YearsWithCurrManager for both Attrition_yes and Attrition_no (Alternative Hypothesis is accepted)

C:\Users\rajusuja.CORPDOM\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

957253.5 1.2365483142169853e-31

### Inferance of the above test with Attrition_yes and No vs YearsWithCurrManager
<io>
    <li>H0 = There is no significant difference between YearsWithCurrManager for both Attrition_yes and Attrition_no</li>
    <li>H1 = There is significant difference between YearsWithCurrManager for both Attrition_yes and Attrition_no</li>
</io>

#### Here if we see that the probability value is 1.2365483142169853e-31 which is lesser than 0.05. 

### Therefore we can conclude that Alternative hypothesis is accepted i,e There is significant difference between YearsWithCurrManager for both Attrition_yes and Attrition_no

In [10]:
'''Appling Man Witney test
H0 = There is no significant difference between TotalWorkingYears for both Attrition_yes and Attrition_no
H1 = There is significant difference between TotalWorkingYears for both Attrition_yes and Attrition_no

'''
import pandas as pd

dataset_yes= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_yes")
dataset_no= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_No")

from scipy.stats import mannwhitneyu

stats,p = mannwhitneyu(dataset_yes.TotalWorkingYears, dataset_no.TotalWorkingYears)

print(stats,p)

# Conclusion - Since p = 2.8897554531400447e-39 Probability value is < 0.05 which mean we can say that There is significant difference 
#between TotalWorkingYears for both Attrition_yes and Attrition_no (Alternative Hypothesis is accepted)

C:\Users\rajusuja.CORPDOM\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

909954.0 2.8897554531400447e-39

### Inferance of the above test with Attrition_yes and No vs TotalWorkingYears
<io>
    <li>H0 = There is no significant difference between TotalWorkingYears for both Attrition_yes and Attrition_no</li>
    <li>H1 = There is significant difference between TotalWorkingYears for both Attrition_yes and Attrition_no</li>
</io>

#### Here if we see that the probability value is 2.8897554531400447e-39 which is lesser than 0.05. 

### Therefore we can conclude that Alternative hypothesis is accepted i,e There is significant difference between TotalWorkingYears for both Attrition_yes and Attrition_no

In [12]:
'''Appling Man Witney test
H0 = There is no significant difference between YearsAtCompany for both Attrition_yes and Attrition_no
H1 = There is significant difference between YearsAtCompany for both Attrition_yes and Attrition_no

'''
import pandas as pd

dataset_yes= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_yes")
dataset_no= pd.read_excel('Attrition_general_data.xlsx',sheetname="Attrition_No")

from scipy.stats import mannwhitneyu

stats,p = mannwhitneyu(dataset_yes.YearsAtCompany, dataset_no.YearsAtCompany)

print(stats,p)

# Conclusion - Since p = 6.047598261692858e-37 Probability value is < 0.05 which mean we can say that There is significant difference 
#between TotalWorkingYears for both Attrition_yes and Attrition_no (Alternative Hypothesis is accepted)

C:\Users\rajusuja.CORPDOM\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

923238.0 6.047598261692858e-37

### Inferance of the above test with Attrition_yes and No vs YearsAtCompany
<io>
    <li>H0 = There is no significant difference between YearsAtCompany for both Attrition_yes and Attrition_no</li>
    <li>H1 = There is significant difference between YearsAtCompany for both Attrition_yes and Attrition_no</li>
</io>

#### Here if we see that the probability value is 6.047598261692858e-37 which is lesser than 0.05. 

### Therefore we can conclude that Alternative hypothesis is accepted i,e There is significant difference between YearsAtCompany for both Attrition_yes and Attrition_no